<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.thesis.review.dao.ReviewerReviewMapper">

    <resultMap type="com.thesis.review.entity.ReviewerReview" id="ReviewerReviewMap">
        <result property="reviewId" column="review_id" jdbcType="INTEGER"/>
        <result property="reviewName" column="review_name" jdbcType="VARCHAR"/>
        <result property="description" column="description" jdbcType="VARCHAR"/>
        <result property="studentId" column="student_id" jdbcType="INTEGER"/>
        <result property="fileId" column="file_id" jdbcType="INTEGER"/>
        <result property="score" column="score" jdbcType="INTEGER"/>
        <result property="isPass" column="is_pass" jdbcType="INTEGER"/>
    </resultMap>

    <resultMap type="com.thesis.review.vo.ReviewerReviewDetailsVo" id="ReviewerReviewDetailsMap"
                extends="ReviewerReviewMap">
        <result property="studentName" column="student_name" jdbcType="VARCHAR"/>
        <result property="reviewerId" column="reviewer_id" jdbcType="INTEGER"/>
        <result property="reviewerName" column="reviewer_name" jdbcType="VARCHAR"/>
        <result property="fileName" column="file_name" jdbcType="VARCHAR"/>
        <result property="filePath" column="file_path" jdbcType="VARCHAR"/>
        <result property="version" column="version" jdbcType="INTEGER"/>
        <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
        <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <!-- 提交评阅教师审阅表 -->
    <insert id="insertReviewerReview" parameterType="com.thesis.review.entity.ReviewerReview">
        INSERT INTO reviewer_review (review_name, description, student_id, file_id, score, is_pass)
        VALUES (#{reviewName}, #{description}, #{studentId}, #{fileId}, #{score}, #{isPass})
    </insert>

    <!-- 删除评阅教师审阅表 -->
    <delete id="deleteReviewerReview" parameterType="int">
        DELETE FROM reviewer_review
        WHERE review_id = #{reviewId}
    </delete>

    <!-- 修改评阅教师审阅表 -->
    <update id="updateReviewerReview" parameterType="com.thesis.review.entity.ReviewerReview">
        UPDATE reviewer_review
        SET review_name = #{reviewName},
            description = #{description},
            student_id = #{studentId},
            file_id = #{fileId},
            score = #{score},
            is_pass = #{isPass}
        WHERE review_id = #{reviewId}
    </update>

    <!-- 查看评阅教师审阅表 -->
    <select id="selectReviewerReview" resultMap="ReviewerReviewDetailsMap">
        SELECT review_id, student_id, reviewer_id, file_id, is_pass, student_name, reviewer_name, file_name, file_path, version, create_time, update_time
        FROM reviewer_review_details
        WHERE reviewer_id = #{reviewerId}
    </select>

</mapper>